	<?php	
if(isset($_GET["vend"]) && $_GET["vend"]=="history"){
?>
<div id="dashboard-main-content">

<div class="p-md-5 p-1">
<div class="bg-white shadow">
<div class="flex items-center justify-between p-5 bg-gray-100 dark-white">
<h1 class="text-xl font-bold">
<span class="lg:inline">Transactions History</span>
</h1>
<div class="font-bold tracking-wider">
<span class="dark inline-block px-3 py-1 bg-gray-200 border rounded-lg cursor-pointer" x-text="`NGN ${$format(total_sum)}`">NGN<?php echo $bal;?></span>
</div>


</div>
<div class="p-1 bg-white lg:p-5">

<div class="container">
<div class="row">
<div class="col">
<?php
include(__DIR__.'/sections/history.php');
?>
</div>
</div>
</div>

</div>
</div>

</div>



</div>

<?php
}
?>