<?php	
if(vp_option_array($option_array,'resell') == "yes" ){
if(isset($_GET["vend"]) ){
if($_GET["vend"]=="message"){
?>
<div id="dashboard-main-content">
<section class="container mx-auto">
<div class="p-md-5 p-1">
<div class="bg-white shadow">
<div class="flex items-center p-5 bg-gray-100 dark-white">
<h1 class="text-xl font-bold">
<span class="lg:inline">Messages</span>
</h1>

</div>
<div class="p-2 bg-white lg:p-5">
<template x-for="transaction in transactions"></template>


<?php
include(__DIR__.'/sections/messages.php');
?>

</div>
</div>

</div>
</section>
</div>
<?php
}
}
}
?>