	<?php	
if(isset($_GET["vend"]) && $_GET["vend"]=="pricing"){
?>
<div id="dashboard-main-content">
<section class="container mx-auto">
<div class="p-md-5 p-1">
<div class="bg-white shadow">
<div class="flex items-center justify-between p-5 bg-gray-100 dark-white">
<h1 class="text-xl font-bold">
<span class="lg:inline">Pricing</span>
</h1>
<div class="font-bold tracking-wider">
<span class="dark inline-block px-3 py-1 bg-gray-200 border rounded-lg cursor-pointer" x-text="<?php echo $currency;?>` ${$format(total_sum)}`"><?php echo $currency;?><?php echo $bal;?></span>
</div>


</div>
<div class="p-2 bg-white lg:p-5 overflow-auto">
<template x-for="transaction in transactions"></template>
<?php
include(__DIR__.'/sections/pricing.php');
?>

</div>
</div>

</div>
</section>
</div>

<?php
}
?>